/* RESET
-------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, theader {margin: 0; padding: 0; border: 0;}
 
 
/* GLOBAL
-------------------------------------------------------------------- */
body { 
  text-align: left;
  background: #f6f6f1;
  font: normal .8em/1.5em Arial, Helvetica, sans-serif;
  background: #ebebeb;
	color: #666;
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
  }
 
a:link, a:visited {
  color: #317b9e;
  text-decoration: none;
  }
a:hover {
  color: #104C68;
  text-decoration: none;
  }  
a:active {
  color: #104C68;
  text-decoration: none;
  }  
 
hr {
  clear: both;
  border: none 0;
  border-top: 1px dotted #ccc;
  text-align: center;
  width: 75%;
  height: 1px;
  margin: 7px 0 7px 0;
  }
 
blockquote {
  margin: 15px;
  }
 
.req {
  font-size: 14px;
  font-weight: bold;
  color: #c30;
  }
 
/* HEADER
-------------------------------------------------------------------- */
#header {
  width: 100%;
  height: 65px;
  background: #383d44;
  background:rgb(248,248,248);
  }
#header div {
  position: relative;
  width: 90%;
  min-width: 700px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  }
#header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #f6f6f1;
  padding: 15px 0 5px 0;
  }
  #header h1 a:link, #header h1 a:visited {
  color: #f6f6f1;
  color:#4183C4;
  }
  #header h1 a:hover {
  color: #7b828c;
  color:#4183C4;
  }
#header h2 {
  font-size: 14px;
  font-weight: bold;
  color: #7b828c;
  }
#header h3 {
  
  position: absolute;
  top: 15px;
  right: 0;
  display: inline;
  font-size: 13px;
  color: #f6f6f1;
  color:#4183C4;
  }
  #header h3 a:link, #header h3 a:visited {
  color: #f6f6f1;
  color:#4183C4;
  }
  #header h3 a:hover {
  color: #7b828c;
  color:#4183C4;
  }
 
 
/* MAIN
-------------------------------------------------------------------- */
#main {
  width: 90%;
  min-width: 700px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  }
 
 
/* MAIN sidebar
-------------------------------------------------------------------- */
#main .sidebar {
  float: left;
  width: 20%;
  min-width: 140px;
  }
#main .sidebar h4 {
  font-size: 13px;
  font-weight: bold;
  color: #646870;
  text-transform: uppercase;
  margin-bottom: 5px;
  }
#main .sidebar ul {
  list-style: none;
  margin-bottom: 15px;
  }
#main .sidebar ul li {
  font-size: 13px;
  padding: 0 0 2px 10px;
  }
  #main .sidebar ul li a {
  color: #317b9e;
  text-decoration: none;
  }
  #main .sidebar ul li a:hover {
  color: #7b828c;
  text-decoration: none;
  }
 
 
/* MAIN content
-------------------------------------------------------------------- */
#main .content {
  float: left;
  width: 80%;
  }
#main .content h1 {
  font-size: 22px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color:#444;
  text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
  padding-bottom:10px;
  border-bottom:1px dotted #444;
  }
#main .content h2 {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: #474a51;
  margin: 20px 0 10px 0;
  }
#main .content h3 {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #474a51;
  margin-top: 10px;
  }
#main .content p {
  font-size: 13px;
  line-height: 17px;
  font-weight: normal;
  color: #474a51;
  margin-bottom: 15px;
  }
#main .content ul {
  margin: 0 0 15px 15px;
  }
#main .content ul li {
  padding-bottom: 5px;
  }
#main .content ol {
  margin: 0 0 15px 20px;
  }
  *:first-child+html #main .content ol { /* IE7 */
  margin: 0 0 15px 25px;
  }
  * html #main .content ol { /* IE6 */
  margin: 0 0 15px 25px;
  }
#main .content ol li {
  padding-bottom: 5px;
  }
 
 
/* TABLES
-------------------------------------------------------------------- */
table.data {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0 15px 0;
  }
table.data thead {
  background: #dcdcdc;
  }
table.data tr.even {
  background-color: #ededed;
  }
table.data th {
  font-size: 12px;
  color: #646870;
  text-align: left;
  vertical-align: top;
  border: 1px solid #c5c5c5;
  padding: 5px;
  }
table.data td {
  font-size: 12px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #c5c5c5;
  padding: 5px;
  }
 

.feedback{
  position:absolute;
  height:25px;
  right:273px;
  color: #333;
  padding-left:27px;
  padding-top:5px;
  font-size:12px;
  font-weight:bold;
  background: url("/images/error2.gif") no-repeat 10px 6px;
}
 
* html.feedback {
  position:absolute;
  right:0;
  left:200px;
  width:10em;
}
 
input#submit{
  margin:20px 0 0 10px;
}
 
.errorBox {
  border-top:#960000 3px solid; 
  border-bottom:#960000 3px solid; 
  background:#bb0000; 
  padding:5px; 
  margin-bottom:10px; 
  text-align:center; 
}
 
.errorBox p{
 
  color:#fff;
  font: 15px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
 
/* FLASH MESSAGES
-------------------------------------------------------------------- */
#flash_error, #flash_notice {
  padding: 1em;
  margin: 1em;
}
#flash_error {
  border: 2px solid red;
  background-color: pink;
}
#flash_notice {
  border: 2px solid green;
  background-color: lightgreen;
}


/* MODEL VALIDATE ERROR
-------------------------------------------------------------------- */
.errorExplanation {
    background-color: Pink;
    border: 1px solid salmon;
    font-size: 12px;
    padding: 8px;
    margin: 8px 13px 0px 13px; }
.errorExplanation h2 {
    background: salmon;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: -8px;
    padding: 5px; }
.errorExplanation ul {
    margin-left: 30px; }
.errorExplanation ul li {
    border: none;
    font-size: 12px;
    list-style-type: disc;
    padding: 0px; }

.fieldWithErrors input , .field_with_errors input{
    border-bottom: 1px solid lightpink;
    border-right: 1px solid lightpink;
    background: pink; }

/*  admin sidebar */
.sidebar{ }
.sidebar li{ border-bottom:1px dotted #444444;width: 130px; }

/* user */
.user{float:left;} 

/*.select_category select { height: 250px;width: 150px;  }*/

/*Product Category
-------------------------------------------------------------------- */
.product_section {
	width:798px;
	float:left;
	display:block;
}
.product_section .product_label {
	float:left;
	width:25%;
	margin-right:10px;
}
.product_section .product_label label {
	padding: 0.5em 0;
	padding-left:20px;
	margin-top: -0.5em;
	margin-bottom: 1em;
}
.product_section .product_details {
	float:left;
	width:550px;
	border:1px solid red;
	margin-bottom:20px;
}
.product_section .product_details .category_group, .product_section .product_details .shipping_group {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}

.product_section .product_details .shipping_group input {
	width:85px;
	height: 19px;
	padding: 4px;
	border: 1px solid #CCC;
	vertical-align: middle;
}
.product_section .product_details .shipping_group label {
	padding-left:8px;
}

.product_section .product_details .product-thumb {
	width:160px;
	height:180px;
	margin:5px;
	padding:5px;
	float:left;
	text-align: center;
	background-color: white;
	-webkit-box-shadow: #EAEDF4 0 1px 2px;
	-moz-box-shadow: #EAEDF4 0 1px 2px;
	box-shadow: #EAEDF4 0 1px 2px;
	border-bottom: 1px solid  #A1A1A1;
	border-right: 1px solid  #A1A1A1;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.product_section .product_details .product-thumb img {
 display:block;
 min-height:150px;
 min-width:150px;
 clear:both;	
}
.product_section .product_details .product-thumb .thumb-links {
	height:20px;
	color: #718DB5;
	font-size: 10px;
	text-transform:uppercase;
}
.product_section .product_details .product-thumb .thumb-links .info {
	float:left;
}
.product_section .product_details .product-thumb .thumb-links .delete {
	float:right;
}