<h3>Manage</h3>

<dl>
   
  <dt>Manage Products</dt>
  <dd><%= link_to 'Products',  my_products_url        %></dd>
  <dd><%= link_to 'List Product', new_my_products_url %></dd>
  
  <dt>Manage Orders</dt>
  <dd><%= link_to 'Todays Orders '      %></dd>
  
  <dt>Shipping</dt>
  <dd><%= link_to 'Manage Shipping categories' %></dd>
  
</dl>
