<% title 'Listing categories' %>

<% unless collection.all.blank? %>
<% # tabletastic namespace route %>
<%# see https://github.com/jgdavey/tabletastic/issues/9 %>
  <%= table_for collection  %>
<%= paginate(collection) %>
<% else %>
<p>Now it's time to create some data here. To create new entry, please use the button below.</p>
<br /><br />
<% end %>

<br />

<p>
<%= link_to 'New Category', new_admin_category_path, :class => 'button' %>
</p>

