<div class="product-thumb">
  <%= link_to image_tag(upload.url_thumb)  , upload_path(upload) , :class=>"fancybox" %>
</div>

<script type="text/javascript">
  $(function(){
    $(".fancybox").fancybox({
      ajax : {
        type	: "GET"
      }
    });
  })
</script>